#imageData{
	display:none;
}

#mainCanvas canvas{
    box-shadow:0 0 3px #3AA9FF;
}

.patt-line{
	width:auto;
	margin:0;
	padding:0;
	line-height: 0;
}


#pattern-selector{
	display:inline-block;
}

#buttons{
   	display:inline-block;
   	vertical-align:top;
   	margin-left:10px;
}

input[type='button']{
    background:#7BC9FE;
    color:#fff;
    border:none;
    margin-left:5px;
    margin-bottom:5px;
    height:30px;
    transition:background 0.3s;
}

input[type='button']:hover{
    background:#5AA3DA;
}

.patt-button{
	cursor:pointer;
}

.patt-button,.center-button{
	width:13px;
	height:13px;
	background:#7BC9FE;
	display:inline-block;
	margin:0;
	padding:0;
	box-shadow:inset 0 0 1px rgba(255,255,255,0.5);
    transition:background 0.3s;
}

.patt-button:hover{
    background:#1882D3;
}

.center-button{
	background:#000;
}

.patt-button.selected{
	background:#146AA4;
}

.patt-button.selected:hover{
	background:#1A91E2;
}

